
body
  background #fafafa!important

#site

  h1
    font-weight 100
    font-size 45px

  h2
    font-size 24px

  h3
    font-size 14px

  #siteNavMain
    position absolute
    right 30px
    top 30px

    li
      display inline-block
      font-weight 700
      margin-left 20px

      a
        color black

