
dark = #222
medium = #999
light = #fafafa

.container-fluid
  position relative

h1
  font-weight 100!important
  padding-bottom 15px

.vectorList
  li
    border-bottom solid 1px medium
    a,p
      padding 15px 0
      display block

    &:hover
      background light

.documentField, .collectionField
  padding-bottom 30px

  label
    font-weight 700
    display block

  input[type="text"], textarea, input[type="password"]
    width 100%
    padding 10px 15px
    font-size 1.5em
    border solid 1px medium

#fieldsWrap
  padding 0 30px 30px 30px

#actionsWrap
  position absolute
  right 30px
  top 70px
  text-align right

// Main Nav

#vectorNavMain
  background dark
  padding 0 30px
  font-size 1.5em
  font-weight 100

  li
    display inline

    a
      color white
      display inline-block
      padding 10px 30px 10px 0

    &.active a
      color medium

